@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-image: linear-gradient(to right top, #16213e, #4f2d61, #962b69, #d43253, #f4601f); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}